version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.5
    steps:
      - checkout
      - run: |
          python3 -m venv venv
          . ./venv/bin/activate
          pip install django==1.11.7
          cd cafe/apps
          python manage.py migrate
          python manage.py test
